<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Category</title>
</head>
<body>

<div class="container">
    <form th:method="PATCH" th:action="@{/{id}(id=${category.getId()})}"  th:object="${category}">
        <label for="name">Enter name:</label>
        <input type="text" th:field="*{name}" id="name" />
        <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors=*{name}>Name error</div>
        <br />
        <label for="parent">Belong to category:</label>
        <select th:field="*{parent}" id="parent" th:selected="${category.parent}">
            <option th:value="null"></option>
            <option th:each="othercategory : ${categories}" th:value="${othercategory.id}" th:text="${othercategory.name}"> </option>
        </select>
        <br />
        <input type="submit" value="Update" />
    </form>
</div>

<br />
<a th:href="@{/{id}(id=${category.getId()})}"> Go Back </a>

</body>
</html>